 /** ------------------------------------- -->
/**  LINEAR GRADIENTS
/** ---------------------------------------- --> */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section styling */
section {
  width: 100%;
  height: 100vh;

  display: flex;              /* Flexbox for centering */
   justify-content: center;    /* Horizontal center */
  align-items: center;        /*Vertical center */
/* 
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12) */ 
   /* background-image: repeating-linear-gradient(45deg, #d2e0fb, #79ac78 45px);  */
} 

/* Wrapper for text content */
.content {
  text-align: center;
  color: black;
}

/* Heading styling */
h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Paragraph styling */
p {
  font-size: 1.8rem;
  color:black;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/**-----------------------
/** Interview Question  
/** ----------------------- */

/*? 1: CSS gradients are smooth transitions between two or more colors. */

/*? 2: Linear vs Radial Gradient:
   - Linear → straight line transition
   - Radial → circular transition */

/*? 3: Diagonal gradient example:
   background-image: linear-gradient(to bottom right, #004d7a, #a8eb12); */

/*? 4: Transparent gradient example:
   background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); */

/*? 5: Multiple colors gradient example:
   background-image: linear-gradient(
     to right top,
     #051937,
     #004d7a,
     #008793,
     #00bf72,
     #a8eb12
   ); */

/** -----------------------
/** PROJECT
/** ----------------------- */

/*? 1: Repeating gradient example:
   background-image: repeating-linear-gradient(45deg, #d2e0fb, #79ac78 45px); 

/*? 2: Color overlay on image example:
   background-image: linear-gradient(
       to right top,
       rgba(5, 25, 55, 0.9),
       rgba(0, 77, 122, 0.9),
       rgba(0, 135, 147, 0.9),
       rgba(0, 191, 114, 0.9),
       rgba(168, 235, 18, 0.9)
     ),
     url("https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
   background-repeat: no-repeat;
   background-size: cover;
*/
